*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

header{
    background-color: #000;
    color: #fff;
    font-size: 3em;
    padding: 20px;
}

.panel{
    box-shadow: 1px 2px 20px;
}
.scrub-news{
    padding: 20px 10px;
    border-bottom: 1px solid #aaa;
}

.scrub-news a{
    color:#555;
    font-family: serif,sans-serif,Verdana;
    font-size:1.5em;
}

.scrub-news .result-date{
    color:#ddd;
    padding: 5px 30px;
    font-size:.7em
}


footer{
    background-color: #333;
    font-size: .6em;
    color:#555;
    text-align: center;
    padding: 20px;
}